# kintone 環境設定
# 例: https://your-domain.cybozu.com
KINTONE_BASE_URL=
KINTONE_API_TOKEN=
KINTONE_APP_ID=

# フィールドバリアント (datetime | date)
# 時間予定対応 (DATETIME 型) → datetime
# 終日のみ (DATE 型) → date
KC_FIELDS_VARIANT=datetime
